body {
  background-color: white;
  font-family: helvetica, sans-serif;
  user-select: none;
}

.tambor-perform-logo {
  padding: 5px 0px 0px 3.5px;
  height: 10vw;
  width: auto;
  margin-bottom: -40px;
}

/* .display-controls {
  display: flex;
  flex-direction: row;
  margin-left: -45px;
  margin-top: -5px;
} */

.color-picker {
  width: 40px;
  height: 40px;
  margin-top: -3px;
}

.dark-mode-toggle {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-mode-toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-mode-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .dark-mode-slider {
  background-color: #2196F3;
}

input:focus + .dark-mode-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .dark-mode-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dark-mode-slider.round {
  border-radius: 34px;
}

.dark-mode-slider.round:before {
  border-radius: 50%;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav a {
  color: black;
  background-color: rgb(90, 185, 71, .4);
  padding: 2px 4px 2px 4px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

nav a:hover, .curr {
  background-color: rgb(90, 185, 71, .7);
}

.rand_chords {
  margin-left: 46vw;
}

.rand_chords:hover {
  background-color: rgb(90, 185, 71, .4);
}

.instrument-div {
  /* padding-top: 20px; */
  display: flex;
  flex-direction: row;
  /* width: 60px; */
  font-size: medium;
  margin-top: -40px;
  text-align: center;
  justify-content: center;
  font-size: 36px;
}

.instrument, .tet {
  font-size: medium;
  width: 100px;
  margin-left: 1px;
  margin-right: 1px;
}

.qwerty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qwerty-key {
  background-color: rgba(115,115,115,1);
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  margin: 5px 5px 0px 0px;
  width: 50px;
  height: 25px;
  text-align: center;
  cursor: default;
  padding-top: 30px;
}

.qwerty-row, .bottom-row {
  display: flex;
  flex-direction: row;
}

#row0 {
  margin-left: 0px;
}

#row1 {
  margin-left: 25px;
}

#row2 {
  margin-left: 50px;
}

#row3 {
  margin-left: 75px;
}

.black-key:hover, .arrow-key:hover, .snare:hover, .daw-track-remove:hover, .daw-track-new:hover {
  background-color: rgba(140,140,140,1);
}

.white-key:hover, .space-key:hover {
  background-color: rgba(200,200,200,1);
}

.qwerty-key::selection {
  /* cursor: pointer; */
  color: none;
  background: none;
}

#row2 {
  padding-right: 40px;
}

#row3 {
  padding-right: 65px;
}

.bottom-row {
  justify-content: center;
}

.space-key {
  background-color: white;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  width: 278px;
  margin-top: 5px;
  margin-right: 5px;
  height: 25px;
  text-align: center;
  cursor: default;
  padding-top: 30px;
}

.playing, .curr-curve {
  transform:scale(1.1);
  border-color:rgba(255,215,0);
  box-shadow: 0 0 10px #ffc600;
}

.black-key {
  background-color: black;
}

.white-key {
  background-color: white;
  color: black;
}

.arc-key {
  background-color: navy;
}

.arc-key-2 {
  background-color: royalblue;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.synth-vol, .synth-basefreq {
  margin-top: 15px;
  text-align: center;
}

.synth-vol-slider, .crash-env-slider, .ride-env-slider, .kick-env-slider, .high-tom-env-slider, .mid-tom-env-slider, .low-tom-env-slider {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.synth-vol-slider {
  justify-content: center;
}

.synth-vol-box {
  width: 70px;
  font-size: medium;
  text-align: center;
}

.osc-div {
  margin-top: 40px;
  margin-right: 40px;
  text-align: center;
  justify-content: center;
}

.sound {
  margin-left: 2px;
  width: 118px;
  font-size: medium;
}

.osc, .osc-option {
  width: 118px;
  font-size: medium;
  margin-bottom: 5px;
}

.osc-div {
  margin-top: 20px;
}

.crash-cymbal-basefreq, .ride-cymbal-basefreq {
  padding-left: 25px;
}

.crash-cymbal-basefreq-slider, .ride-cymbal-basefreq-slider {
  display: flex;
  flex-direction: row;
}

.crash-cymbal-basefreq-box, .ride-cymbal-basefreq-box {
  margin-top: 5px;
}

.synth-basefreq, .pluck-basefreq, .crash-cymbal-basefreq, .ride-cymbal-basefreq, .kick-basefreq, .high-tom-basefreq, .mid-tom-basefreq, .low-tom-basefreq, .partial {
  margin-bottom: 15px;
}

.synth-basefreq-slider, .pluck-basefreq-slider, .crash-cymbal-basefreq-slider, .ride-cymbal-basefreq-slider, .kick-basefreq-slider, .high-tom-basefreq-slider, .mid-tom-basefreq-slider, .low-tom-basefreq-slider, .partial-slider {
  margin-bottom: 5px;
}

.synth-basefreq-box, .pluck-basefreq-box, .crash-cymbal-basefreq-box, .ride-cymbal-basefreq-box, .kick-basefreq-box, .high-tom-basefreq-box, .mid-tom-basefreq-box, .low-tom-basefreq-box, .partial-box {
  width: 70px;
  text-align: center;
}

.synth-basefreq-input, .pluck-basefreq-input, .crash-cymbal-basefreq-input, .ride-cymbal-basefreq-input, .kick-basefreq-input, .high-tom-basefreq-input, .mid-tom-basefreq-input, .low-tom-basefreq-input, .partial-input {
  margin-bottom: -5px;
  /* margin-right: -2px; */
}

.synth-env, .pluck-env {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.crash-cymbal-env, .ride-cymbal-env, .kick-env, .high-tom-env, .mid-tom-env, .low-tom-env {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -200px;
}

.env-slider, .crash-cymbal-env-slider, .ride-cymbal-env-slider, .kick-env-slider, .high-tom-env-slider, .mid-tom-env-slider, .low-tom-env-slider {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: inherit;
}

.crash-cymbal-harmonicity-slider, .crash-cymbal-modulation-slider, .crash-cymbal-resonance-slider, .crash-cymbal-octaves-slider, .ride-cymbal-harmonicity-slider, .ride-cymbal-modulation-slider, .ride-cymbal-resonance-slider, .ride-cymbal-octaves-slider, .kick-pitch-decay-slider, .kick-octaves-slider, .high-tom-pitch-decay-slider, .high-tom-octaves-slider, .mid-tom-pitch-decay-slider, .mid-tom-octaves-slider, .low-tom-pitch-decay-slider, .low-tom-octaves-slider {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: center;
  box-sizing: inherit;
}

.attack-input, .decay-input, .sustain-input, .release-input {
  -webkit-appearance: slider-vertical;
}

.env-curves {
  display: flex;
  flex-direction: column;
}

#attack-curves, #release-curves {
  margin-top: 30px;
}

#decay-curves {
  margin-top: 62px;
}

.env-curve {
  width: 20px;
  height: 20px;
  border: .5px solid black;
  margin-bottom: 10px;
}

.env-box {
  font-size: medium;
}

.env-box, .crash-cymbal-env-box, .crash-cymbal-harmonicity-box, .crash-cymbal-modulation-box, .crash-cymbal-resonance-box, .crash-cymbal-octaves-box, .ride-cymbal-env-box, .ride-cymbal-harmonicity-box, .ride-cymbal-modulation-box, .ride-cymbal-resonance-box, .ride-cymbal-octaves-box, .kick-env-box, .kick-pitch-decay-box, .kick-octaves-box, .high-tom-env-box, .high-tom-pitch-decay-box, .high-tom-octaves-box, .mid-tom-env-box, .mid-tom-pitch-decay-box, .mid-tom-octaves-box, .low-tom-env-box, .low-tom-pitch-decay-box, .low-tom-octaves-box {
  width: 40px;
  text-align: center;
}

.env-box, .crash-cymbal-env-box, .ride-cymbal-env-box, .kick-env-box, .high-tom-env-box, .mid-tom-env-box, .low-tom-env-box {
  margin-top: 15px;
}

.crash-cymbal-harmonicity-box, .crash-cymbal-modulation-box, .crash-cymbal-resonance-box, .crash-cymbal-octaves-box, .ride-cymbal-harmonicity-box, .ride-cymbal-modulation-box, .ride-cymbal-resonance-box, .ride-cymbal-octaves-box, .kick-pitch-decay-box, .kick-octaves-box, .high-tom-pitch-decay-box, .high-tom-octaves-box, .mid-tom-pitch-decay-box, .mid-tom-octaves-box, .low-tom-pitch-decay-box, .low-tom-octaves-box {
  /* font-size: medium; */
  text-align: center;
}

.env-label {
  font-size: large;
}

.crash-cymbal-env, .crash-cymbal-harmonicity, .crash-cymbal-modulation, .crash-cymbal-resonance, .crash-cymbal-octaves, .ride-cymbal-env, .ride-cymbal-harmonicity, .ride-cymbal-modulation, .ride-cymbal-resonance, .ride-cymbal-octaves, .kick-env, .kick-pitch-decay, .kick-octaves, .high-tom-env, .high-tom-pitch-decay, .high-tom-octaves, .mid-tom-env, .mid-tom-pitch-decay, .mid-tom-octaves, .low-tom-env, .low-tom-pitch-decay, .low-tom-octaves {
  text-align: center;
}

.env-label, .crash-cymbal-env-label, .crash-cymbal-harmonicity-label, .crash-cymbal-modulation-label, .crash-cymbal-resonance-label, .crash-cymbal-octaves-label, .ride-cymbal-env-label, .ride-cymbal-harmonicity-label, .ride-cymbal-modulation-label, .ride-cymbal-resonance-label, .ride-cymbal-octaves-label, .kick-env-label, .kick-pitch-decay-label, .kick-octaves-label, .high-tom-env-label, .high-tom-pitch-decay-label, .high-tom-octaves-label, .mid-tom-env-label, .mid-tom-pitch-decay-label, .mid-tom-octaves-label, .low-tom-env-label, .low-tom-pitch-decay-label, .low-tom-octaves-label {
  margin-top: 5px;
  padding-top: 10px;
}

.kick-basefreq-label, .high-tom-basefreq-label, .mid-tom-basefreq-label, .low-tom-basefreq-label, .crash-cymbal-basefreq-label, .ride-cymbal-basefreq-label, .crash-cymbal-harmonicity-label, .crash-cymbal-modulation-label, .crash-cymbal-resonance-label, .crash-cymbal-octaves-label, .ride-cymbal-harmonicity-label, .ride-cymbal-modulation-label, .ride-cymbal-resonance-label, .ride-cymbal-octaves-label, .kick-pitch-decay-label, .kick-octaves-label, .high-tom-pitch-decay-label, .high-tom-octaves-label, .mid-tom-pitch-decay-label, .mid-tom-octaves-label, .low-tom-pitch-decay-label, .low-tom-octaves-label {
  margin-left: 5px;
}

.crash-cymbal-env-1, .ride-cymbal-env-1, .kick-env-1, .high-tom-env-1, .mid-tom-env-1, .low-tom-env-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.crash-cymbal-env-adsr, .ride-cymbal-env-adsr, .kick-env-adsr, .high-tom-env-adsr, .mid-tom-env-adsr, .low-tom-env-adsr {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}

.crash-cymbal-env-adsr, .ride-cymbal-env-adsr {
  padding-left: 75px;
}

.crash-cymbal-env-2, .ride-cymbal-env-2, .kick-env-2, .high-tom-env-2, .mid-tom-env-2, .low-tom-env-2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.pluck-env {
  margin-right: 35px;
}

.attack-noise, .dampening, .pluck-resonance {
  text-align: center;
  margin-right: 30px;
}

.attack-noise-box, .dampening-box, .pluck-resonance-box {
  font-size: medium;
  text-align: center;
  width: 70px;
  margin: 20px 0px 5px -55px;
}

.attack-noise-input, .dampening-input, .pluck-resonance-input {
  margin: 0px 0px 30px 45px;
}

.attack-noise-label, .dampening-label, .pluck-resonance-label {
  margin-left: 15px;
}

.drumkit-div-1, .drumkit-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.drumkit-div-2 {
  margin-left: -220px;
}

.drum {
  border: solid 1px;
  border-radius: 100%;
  border-color: black;
  background-color: white;
}

.cymbal {
  border: solid 1px;
  border-radius: 50%;
  border-color: black;
  background-color: rgb(240, 200, 110);
}

#snare {
  height: 150px;
  width: 150px;
  margin-left: -200px;
  margin-right: -200px;
}

#high-tom {
  height: 125px;
  width: 125px;
  margin-top: 25px;
  margin-left: 200px;
  margin-right: -400px;
}

#mid-tom {
  height: 135px;
  width: 135px;
  margin-top: 15px;
  margin-left: -113px;
  margin-right: 100px;
}

#low-tom {
  position: relative;
  height: 190px;
  width: 190px;
  margin-left: 275px;
  z-index: 0;
}

#kick {
  height: 50px;
  width: 250px;
  margin-left: 380px;
  margin-right: -150px;
}

#crash-cymbal {
  height: 175px;
  width: 175px;
  margin-top: -30px;
  margin-left: 120px;
  margin-right: 215px;
}

#hi-hat {
  height: 175px;
  width: 175px;
  margin-top: -25px;
  margin-left: -100px;
}

#ride-cymbal {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: -25px;
  margin-left: -120px;
  margin-bottom: -70px;
  z-index: 2;
}

.drumkit-dropdown {
  position: relative;
  background-color: rgba(170,170,170,1);
  padding-bottom: 3px;
  border-radius: 0 0 150px 150px;
  z-index: 1;
  height: 16px;
}

.drumkit-dropdown:hover {
  background-color: gray;
}

.drumkit-arrow {
  position: relative;
  border: solid black;
  border-width: 0 3px 3px 0;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 45%;
  /* padding: 3px; */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
}

#high-tom-dropdown {
  width: 87px;
  margin-top: 108px;
  margin-left: 19px;
}

#crash-cymbal-dropdown {
  width: 102px;
  margin-top: 158px;
  margin-left: 38px;
}

#mid-tom-dropdown {
  width: 91px;
  margin-top: 118px;
  margin-left: 22px;
}

#ride-cymbal-dropdown {
  width: 110px;
  margin-top: 184px;
  margin-left: 45px;
}

#kick-dropdown {
  width: 105px;
  margin-top: 48px;
  margin-left: 75px;
}

#snare-dropdown {
  width: 91px;
  margin-top: 135px;
  margin-left: 29px;
}

#hi-hat-dropdown {
  width: 105px;
  margin-top: 158px;
  margin-left: 35px;
}

#low-tom-dropdown {
  width: 106px;
  margin-top: 174px;
  margin-left: 42px;
}

.kick-env, .high-tom-env, .mid-tom-env, .low-tom-env, .crash-cymbal-env, .ride-cymbal-env {
  position: relative;
  z-index: 3;
  background-color: rgba(225,225,225,1);
  width: 600px;
}

.daw {
  margin-top: 25px;
}

.daw-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: -92px;
}

.daw-curr {
  background-color:rgba(255,215,0);
}

.daw-nav-item {
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  padding-top: 22px;
  height: 35px;
  width: 140px;
}

.daw-nav-item:hover {
  background-color:rgba(255,215,0, .2);
}

.daw-track {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(70,70,70);
  height: 120px;
  margin-bottom: -1px;
}

.track-selected {
  background-color: rgba(255,215,0,.2);
}

.daw-track-left {
  background-color: rgba(200,200,200,1);
  display: flex;
  flex-direction: column;
  border-right: solid black 1px;
  width: 140px;
}

.daw-track-left-top {
  display: flex;
  flex-direction: row;
}

.daw-track-remove {
  border: solid black 1px;
  margin: -1px 0px 0px -1px;
  width: 20px;
  text-align: center;
}

.daw-track-name {
  width: 110px;
}

.daw-track-vol, .daw-track-pan {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.daw-track-vol {
  margin-top: -5px;
  margin-bottom: -25px;
}

.daw-track-vol-slider, .daw-track-pan-slider {
  display: flex;
  flex-direction: row;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
}

.daw-track-pan {
  margin-top: 5px;
  margin-bottom: -5px;
}

.daw-track-mute-solo {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.daw-track-mute, .daw-track-solo {
  border: solid black 1px;
  text-align: center;
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  width: 20px;
  height: 18px;
}

.daw-track-new {
  border: solid black 1px;
  margin-top: -1px;
  margin-bottom: 35px;
  padding-bottom: 10px;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 30pt;
  font-weight: 300;
}

.daw-circle-btns {
  margin-left: -5px;
}

.daw-circle-btns, .daw-track-circle-btns {
  display: flex;
  flex-direction: row;
}

.daw-track-circle-btn, .daw-circle-btn {
  background-color: rgba(225,225,225,1);
  width: 50px;
  height: 50px;
  margin-top: 35px;
  margin-left: 15px;
  margin-right: 6px;
  border: 1px solid black;
  border-radius: 50%;
}

.daw-track-circle-btn:hover, .daw-circle-btn:hover {
  background-color: rgba(200,200,200,1);
}

.daw-track-circle-btn:active, .daw-circle-btn:active {
  transform:scale(1.1);
  border-color:rgba(255,215,0);
  box-shadow: 0 0 10px #ffc600;
}

.daw-circle-btns {
  margin-left: -4px;
  padding-right: 4px;
}

.daw-circle-btn {
  margin-bottom: 5px;
}

.daw-play {
  width: 30px;
  height: 30px;
  background: rgb(21, 185, 87);
  margin-top: 10px;
  margin-left: 17px;
  clip-path: polygon(0 0, 80% 48%, 0 100%, 0% 100%);
}

.daw-pause {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 27px;
  border-color: transparent transparent transparent royalblue;
  border-style: double;
  border-width: 0 0 0 20px;
  margin-top: 11px;
  margin-left: 15px;
}

.daw-loop {
  margin-left: 7px;
}

.gg-crop {
  box-sizing: border-box;
  position: relative;
  display: block;
  /* transform: scale(var(--ggs,1)); */
  transform: scale(2);
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.gg-crop::after, .gg-crop::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
}

.gg-crop::before {
  border-right: 2px solid;
  border-top: 2px solid;
  left: 1px;
  top: 5px;
}

.gg-crop::after {
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  right: 1px;
}

.daw-track-record {
  margin-left: 12.5px;
  margin-top: 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}

.daw-track-stop {
  margin-left: 15px;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  background-color: royalblue;
}

.floating-controls {
  display: flex;
  flex-direction: column;
  margin-left: calc(100vw - 90px);
  margin-top: -30px;
  position: fixed;
}

.floating-circle-btn {
  margin-bottom: -20px;
}

audio {
  display: block;
  margin: auto;
}

.daw-track-audio {
  width: 90vw;
}

.hidden, .replaced {
  display: none;
}

.toggled {
  background-color:  rgba(255,215,0,0.2);
}

.toggled:hover {
  background-color: rgba(255,215,0,0.4);
}

.player {
  display: flex;
  flex-direction: column;
}

.zoomview-container, .overview-container {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome, brave only */
  .env-slider {
    margin-left: -43px;
    margin-right: -43px;
  }

  .daw-nav {
    margin-left: 50%;
  }

  .daw-loop {
    color: rgb(138, 21, 185);
    font-size: 40pt;
    font-weight: 50;
    margin-top: -10px;
    padding-left: 2px;
  }
}

@-moz-document url-prefix() { /* firefox only */
  .env-slider {
    margin-left: 0px;
    margin-right: 0px;
  }

  .daw-loop {
    font-size: 28pt;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: -4px;
  }
}